
{% extends 'AppBundle::root.html.twig' %}

{% block title %}{{ parent() }} - Show{% endblock %}

{% block stylesheets %}

    <style>
        html, body{
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(0,0,0,0.5);
        }
    </style>

{% endblock %}

{% block body %}

    <div class="overlay"></div>
    <script src="/script/generated-script.js"></script>

{% endblock %}
