
{% extends 'AppBundle::page.html.twig' %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}

    {# Element used by React in order to render the form #}
    <div id="form-container"></div>

{% endblock %}