@media (min-width: 768px) {
    .container {
        width: 470px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 520px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 570px;
    }
}

.form-alert-container {
    min-height: 42px;
    margin-bottom: 10px;
}

.form-alert-container .alert {
    padding: 10px;
    margin-bottom: 0;
}

.form-group button {
    margin-top: 10px;
}